<div>
  <main class="bg-white-300 ml-60 mt-24 flex-1 p-3 overflow-hidden">
    <!-- <p class="ml-10">calendrier works!</p> -->
    <div class="bg-white p-6 shadow rounded ml-5">
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-xl font-bold">REGION MEDICAL DE DAKAR</h2>
        <p class="text-xl font-bold">Le: 01/01/1990</p>
      </div>
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-xl font-bold">DISTRICT SANITAIRE DE YEUMBEUL</h2>
        <p class="text-xl font-bold"> Age: 34</p>
      </div>
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-xl font-bold">Tél: 33 899 67 69</h2>
        <p class="text-xl font-bold">N° :000045</p>
      </div>
      <div>
        <p class="text-xl font-bold mb-2">
          Prénom et Nom : <span class="font-bold">John Doe</span>
        </p>
      </div>
      <div class="mt-6">
        <h3 class="text-lg font-bold mb-2 text-center border-b">ORDONNANCE</h3>
        <div class="flex mb-4">
          <p class="w-1/2 text-gray-600">
            Nom du médicament
          </p>
          <p class="w-1/2 text-gray-600 text-right">
            Posologie
          </p>
        </div>
        <div class="flex border-b border-gray-200 pb-2 mb-4">
          <p class="w-1/2">Paracétamol</p>
          <p class="w-1/2 text-right">3 comprimés par jour pendant 7 jours</p>
        </div>
        <div class="flex border-b">
          <p class="w-1/2">Amoxilline</p>
          <p class="w-1/2 text-right">2 comprimés 3 fois par jour pendant 10 jours</p>
        </div>
      </div>
      <div class="text-center">
        <p>Rapporter l'Ordonnance à la Prochaine Consultation</p>
      </div>
    </div>
  </main>
</div>
